{% extends 'base.html' %}
{% block title %}
{% load static %}
<title>Drill Mud Log - ONGC</title>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'Styles\electrical_multi_step.css' %}">
{% endblock %}

{% block content %}
<!-- SECTION -->
<section class="py-5">
    <div class="container-md d-flex justify-content-center">
        <div class="row justify-content-center align-items-center h-100">
            <h2 class="text-center pb-3">
                DRILLING MUD REPORT
            </h2>

            <!-- Form Steps / Progress Bar -->
            <div id="hidden-mobile" class="container">
                <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                    <!-- Step 1 -->
                    <li class="form-stepper-active text-center form-stepper-list" step="1">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle">
                                <span>1</span>
                            </span>
                            <div class="label">Rig Details</div>
                        </a>
                    </li>
                    <!-- Step 2 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>2</span>
                            </span>
                            <div class="label text-muted">Operations</div>
                        </a>
                    </li>
                    <!-- Step 3 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>3</span>
                            </span>
                            <div class="label text-muted">Laboratory Data</div>
                        </a>
                    </li>
                    <!-- Step 4 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>4</span>
                            </span>
                            <div class="label text-muted">Hydraulic Data</div>
                        </a>
                    </li>
                    <!-- Step 5 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="5">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>5</span>
                            </span>
                            <div class="label text-muted">Drilling Data</div>
                        </a>
                    </li>
                    <!-- Step 6 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="6">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>6</span>
                            </span>
                            <div class="label text-muted">Mud Chemical Report</div>
                        </a>
                    </li>
                    <!-- Step 7 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="7">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>7</span>
                            </span>
                            <div class="label text-muted">Mud Volume Details</div>
                        </a>
                    </li>
                    <!-- Step 8 -->
                    <li class="form-stepper-unfinished text-center form-stepper-list" step="8">
                        <a class="mx-2 link-light">
                            <span class="form-stepper-circle text-muted">
                                <span>8</span>
                            </span>
                            <div class="label text-muted">Running Hours</div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Step Wise Form Content -->
            <form method="POST" action="{% url 'drill-log' %}" enctype="multipart/form-data" id="userAccountSetupForm" name="userAccountSetupForm" data-rigs-url="{% url 'load-rigs' %}">
                {% csrf_token %}

                <!-- Step 1 Content -->
                <section id="step-1" class="form-step bg-light text-dark">
                    <h4 class="text-center">QHSE|DOC. NO.|QHSE/QF/CHEM-DPR/56</h4>
                    <!-- Step 1 input fields -->
                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.saswellname.label }}</label>
                            {{ form.saswellname }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <br />
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.sasrigname.label }}</label>
                            {{ form.sasrigname }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <br />
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.asset.label }}</label>
                            {{ form.asset }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <br />
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.date.label }}</label>
                            {{ form.date }}

                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.shifttype.label }}</label>
                            {{ form.shifttype }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    <br />
                    <button onClick="vForm()" class="button my-2 btn-navigate-form-step" type="button" step_number="2">Next</button>
                </section>

                <!-- Step 2 Content, default hidden on page load. -->
                <section id="step-2" class="form-step d-none bg-light text-dark">
                    <div id="ingredient-form-list">
                        {{ drill_shift_formset.management_form }} {% for form in drill_shift_formset %}
                        <input type="hidden" name="drill_shift_form-TOTAL_FORMS" value="1" id="id_drill_shift_form-TOTAL_FORMS">
                        <input type="hidden" name="drill_shift_form-INITIAL_FORMS" value="0" id="id_drill_shift_form-INITIAL_FORMS">
                        <input type="hidden" name="drill_shift_form-MIN_NUM_FORMS" value="0" id="id_drill_shift_form-MIN_NUM_FORMS">
                        <input type="hidden" name="drill_shift_form-MAX_NUM_FORMS" value="1000" id="id_drill_shift_form-MAX_NUM_FORMS">

                        <div class="ingredient-form">
                            <!-- Step 2 input fields -->
                            <div class="row align-items-start py-2">
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.drillfrom.label }}</label>
                                    {{ form.drillfrom }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.drillto.label }}</label>
                                    {{ form.drillto }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.timefrom.label }}</label>
                                    {{ form.timefrom }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.timeto.label }}</label>
                                    {{ form.timeto }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                            </div>
                            <div class="row align-items-start py-2">
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.spgrade.label }}</label>
                                    {{ form.spgrade }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.visc.label }}</label>
                                    {{ form.visc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.gel.label }}</label>
                                    {{ form.gel }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-3 my-2">
                                    <label class="form-label">{{ form.ph.label }}</label>
                                    {{ form.ph }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                            </div>
                            <div class="row align-items-start">
                                <div class="col-sm-6 my-2">
                                    <label class="form-label select-label">{{ form.operation.label }}</label>
                                    {{ form.operation }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="empty-form" style="display: none;">
                        <div class="row align-items-start py-2">
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.drillfrom.label }}</label>
                                {{ drill_shift_formset.empty_form.drillfrom }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.drillto.label }}</label>
                                {{ drill_shift_formset.empty_form.drillto }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.timefrom.label }}</label>
                                {{ drill_shift_formset.empty_form.timefrom }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.timeto.label }}</label>
                                {{ drill_shift_formset.empty_form.timeto }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                        </div>
                        <div class="row align-items-start py-2">
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.spgrade.label }}</label>
                                {{ drill_shift_formset.empty_form.spgrade }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.visc.label }}</label>
                                {{ drill_shift_formset.empty_form.visc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.gel.label }}</label>
                                {{ drill_shift_formset.empty_form.gel }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-3 my-2">
                                <label class="form-label">{{ drill_shift_formset.empty_form.ph.label }}</label>
                                {{ drill_shift_formset.empty_form.ph }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-6 my-2">
                                <label class="form-label select-label">{{ drill_shift_formset.empty_form.operation.label }}</label>
                                {{ drill_shift_formset.empty_form.operation }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <br />
                    <button class="button my-2" type="button" id="add-more">Add More</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="1">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="3">Next</button>
                    <!-- </div> -->
                </section>

                <!-- Step 3 Content, default hidden on page load. -->
                <section id="step-3" class="form-step d-none bg-light text-dark">
                    {{ drill_laboratory_formset.management_form }} {% for form in drill_laboratory_formset %}
                    <!-- Step 3 input fields -->
                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.sample.label }}</label>
                            {{ form.sample }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.time.label }}</label>
                            {{ form.time }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.depth.label }}</label>
                            {{ form.depth }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.apifilter.label }}</label>
                            {{ form.apifilter }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.cakethickness.label }}</label>
                            {{ form.cakethickness }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.ph.label }}</label>
                            {{ form.ph }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.sand.label }}</label>
                            {{ form.sand }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.apparentvisc.label }}</label>
                            {{ form.apparentvisc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.plasticvisc.label }}</label>
                            {{ form.plasticvisc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.yieldpoint.label }}</label>
                            {{ form.yieldpoint }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.gelzero.label }}</label>
                            {{ form.gelzero }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.gelten.label }}</label>
                            {{ form.gelten }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.oilcontent.label }}</label>
                            {{ form.oilcontent }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.solidcontent.label }}</label>
                            {{ form.solidcontent }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.watercontent.label }}</label>
                            {{ form.watercontent }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.mbc.label }}</label>
                            {{ form.mbc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.filtersalinity.label }}</label>
                            {{ form.filtersalinity }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.flowlinetemp.label }}</label>
                            {{ form.flowlinetemp }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <br />
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="2">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="4">Next</button>
                </section>

                <!-- Section 4 Content -->
                <section id="step-4" class="form-step d-none bg-light text-dark">
                    {{ hydraulic_data_formset.management_form }} {% for form in hydraulic_data_formset %}
                    <div class="row align-items-start py-2">
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.pumplinersize.label }}</label>
                            {{ form.pumplinersize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.strokelength.label }}</label>
                            {{ form.strokelength }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.discharge.label }}</label>
                            {{ form.discharge }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.stroke.label }}</label>
                            {{ form.stroke }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.standpipepressure.label }}</label>
                            {{ form.standpipepressure }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.dpsize.label }}</label>
                            {{ form.dpsize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.dcsize.label }}</label>
                            {{ form.dcsize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.stabilizers.label }}</label>
                            {{ form.stabilizers }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.ohdc.label }}</label>
                            {{ form.ohdc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.ohdp.label }}</label>
                            {{ form.ohdp }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.casdp.label }}</label>
                            {{ form.casdp }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.lastcasingsize.label }}</label>
                            {{ form.lastcasingsize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.lastlength.label }}</label>
                            {{ form.lastlength }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.csgvol.label }}</label>
                            {{ form.csgvol }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.mudhole.label }}</label>
                            {{ form.mudhole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.sandtrap.label }}</label>
                            {{ form.sandtrap }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.pitvol.label }}</label>
                            {{ form.pitvol }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.totalcirc.label }}</label>
                            {{ form.totalcirc }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.lagtime.label }}</label>
                            {{ form.lagtime }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.cycletime.label }}</label>
                            {{ form.cycletime }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.ECD.label }}</label>
                            {{ form.ECD }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.presslosses.label }}</label>
                            {{ form.presslosses }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    {% endfor %}
                    <br />
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="3">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="5">Next</button>
                    <!-- </div> -->
                </section>

                <!-- Step 5 Content -->
                <section id="step-5" class="form-step d-none bg-light text-dark">
                    {{ drill_data_formset.management_form }} {% for form in drill_data_formset %}

                    <div class="row align-items-start py-2">
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.sample.label }}</label>
                            {{ form.sample }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.bitsize.label }}</label>
                            {{ form.bitsize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.jetsize.label }}</label>
                            {{ form.jetsize }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>

                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.onbit.label }}</label>
                            {{ form.onbit }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.rotaryrpm.label }}</label>
                            {{ form.rotaryrpm }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.bhalengths.label }}</label>
                            {{ form.bhalengths }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <br />
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="4">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="6">Next</button>
                </section>

                <!-- Step 6 Content -->
                <section id="step-6" class="form-step d-none bg-light text-dark">
                    <div id="drill_mud_chemical-form-list">
                        {{ drill_mud_chemical_formset.management_form }} {% for form in drill_mud_chemical_formset %}
                        <input type="hidden" name="drill_mud_chemical_form-TOTAL_FORMS" value="1" id="id_drill_mud_chemical_form-TOTAL_FORMS">
                        <input type="hidden" name="drill_mud_chemical_form-INITIAL_FORMS" value="0" id="id_drill_mud_chemical_form-INITIAL_FORMS">
                        <input type="hidden" name="drill_mud_chemical_form-MIN_NUM_FORMS" value="0" id="id_drill_mud_chemical_form-MIN_NUM_FORMS">
                        <input type="hidden" name="drill_mud_chemical_form-MAX_NUM_FORMS" value="1000" id="id_drill_mud_chemical_form-MAX_NUM_FORMS">

                        <div class="drill_mud_chemical-form">
                            <div class="row align-items-start py-2">
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.chemical.label }}</label>
                                    {{ form.chemical }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.unit.label }}</label>
                                    {{ form.unit }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.opening.label }}</label>
                                    {{ form.opening }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>

                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.receipt.label }}</label>
                                    {{ form.receipt }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.consumption.label }}</label>
                                    {{ form.consumption }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.closing.label }}</label>
                                    {{ form.closing }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                                <div class="col-sm-4 my-2">
                                    <label class="form-label">{{ form.total.label }}</label>
                                    {{ form.total }}
<p style="color:blue;font-size:13px">*Required Field</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="drill_mud_chemical-empty-form" style="display: none;">
                        <div class="row align-items-start py-2">
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.chemical.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.chemical }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.unit.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.unit }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.opening.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.opening }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>

                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.receipt.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.receipt }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.consumption.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.consumption }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.closing.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.closing }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                            <div class="col-sm-4 my-2">
                                <label class="form-label">{{ drill_mud_chemical_formset.empty_form.total.label }}</label>
                                {{ drill_mud_chemical_formset.empty_form.total }}
<p style="color:blue;font-size:13px">*Required Field</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <br />
                    <button class="button my-2" type="button" id="drill_mud_chemical-add-more">Add More</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="5">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="7">Next</button>
                </section>

                <!-- Step 7 Content -->
                <section id="step-7" class="form-step d-none bg-light text-dark">
                    {{ drill_mud_volume_formset.management_form }} {% for form in drill_mud_volume_formset %}

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.shalevole.label }}</label>
                            {{ form.shalevole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.shalespgr.label }}</label>
                            {{ form.shalespgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.settingvole.label }}</label>
                            {{ form.settingvole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.settingspgr.label }}</label>
                            {{ form.settingspgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.intervole.label }}</label>
                            {{ form.intervole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.interspgr.label }}</label>
                            {{ form.interspgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.suctionvole.label }}</label>
                            {{ form.suctionvole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.suctionspgr.label }}</label>
                            {{ form.suctionspgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.tank1vole.label }}</label>
                            {{ form.tank1vole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.tank1spgr.label }}</label>
                            {{ form.tank1spgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.tank2vole.label }}</label>
                            {{ form.tank2vole }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.tank2spgr.label }}</label>
                            {{ form.tank2spgr }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    {% endfor %}
                    <br />
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="6">Prev</button>
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="8">Next</button>
                </section>

                <!-- Step 8 Content -->
                <section id="step-8" class="form-step d-none bg-light text-dark">
                    {{ drill_solid_control_formset.management_form }} {% for form in drill_solid_control_formset %}

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.shaleshaker.label }}</label>
                            {{ form.shaleshaker }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.desander.label }}</label>
                            {{ form.desander }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.desilter.label }}</label>
                            {{ form.desilter }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.degasser.label }}</label>
                            {{ form.degasser }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-sm-4 my-2">
                            <label class="form-label select-label">{{ form.mudlcleaner.label }}</label>
                            {{ form.mudlcleaner }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                        <div class="col-sm-4 my-2">
                            <label class="form-label">{{ form.remarks.label }}</label>
                            {{ form.remarks }}
<p style="color:blue;font-size:13px">*Required Field</p>
                        </div>
                    </div>
                    {% endfor %}
                    <br />
                    <button class="button my-2 btn-navigate-form-step" type="button" step_number="7">Prev</button>
                    <button class="button my-2 submit-btn" type="submit">Save</button>
                </section>

            </form>
        </div>
    </div>
</section>

<script src="{% static 'js\jquery-min.js' %}"></script>

<script>
    const addMoreBtn = document.getElementById("add-more");
    if (addMoreBtn) {
        addMoreBtn.addEventListener("click", add_new_form_1);
    }

    function add_new_form_1(event) {
        if (event) {
            event.preventDefault();
        }
        const totalNewForms = document.getElementById("id_drill_shift_form-TOTAL_FORMS");
        const currentIngredientForms = document.getElementsByClassName("ingredient-form");
        const currentFormCount = currentIngredientForms.length; // + 1
        const formCopyTarget = document.getElementById("ingredient-form-list");

        const copyEmptyFormEl = document.getElementById("empty-form").cloneNode(true);
        copyEmptyFormEl.setAttribute("class", "ingredient-form");
        copyEmptyFormEl.setAttribute("style", "");

        copyEmptyFormEl.setAttribute("id", `form-${currentFormCount}`);
        const regex = new RegExp("__prefix__", "g");
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount);
        totalNewForms.setAttribute("value", currentFormCount + 1);
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl);
    }
</script>

<script>
    const addMoreBtn1 = document.getElementById("drill_mud_chemical-add-more");
    if (addMoreBtn1) {
        addMoreBtn1.addEventListener("click", add_new_form_1);
    }

    function add_new_form_1(event) {
        if (event) {
            event.preventDefault();
        }
        const totalNewForms = document.getElementById("id_drill_mud_chemical_form-TOTAL_FORMS");
        const currentIngredientForms = document.getElementsByClassName("drill_mud_chemical-form");
        const currentFormCount = currentIngredientForms.length; // + 1
        const formCopyTarget = document.getElementById("drill_mud_chemical-form-list");

        const copyEmptyFormEl = document.getElementById("drill_mud_chemical-empty-form").cloneNode(true);
        copyEmptyFormEl.setAttribute("class", "drill_mud_chemical-form");
        copyEmptyFormEl.setAttribute("style", "");

        copyEmptyFormEl.setAttribute("id", `form-${currentFormCount}`);
        const regex = new RegExp("__prefix__", "g");
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount);
        totalNewForms.setAttribute("value", currentFormCount + 1);
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl);
    }
</script>



{% endblock %}
