{% extends 'base.html' %}
{% block title %}
<title>Electric Daily Log - ONGC</title>
{% endblock %}

{% block content %}
<!-- SECTION -->
<section class="p-5 my-5">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div
            class="card shadow-2-strong card-registration bg-light text-dark"
            style="border-radius: 15px"
          >
            <div class="card-body p-4 p-md-5">
              <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">
                ELECTRICAL DAILY LOG SHEET
              </h2>
              <hr />
              <form  method="POST" action="{% url 'electrical-log' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col col-md-12">
                    <label class="form-label">{{form.doc_no.label}}</label>
                    {{form.doc_no}}
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md-6">
                    <br>
                    <label class="form-label">{{form.rig_name.label}}</label>
                    {{form.rig_name}}
                  </div>
                  <div class="col col-md-6">
                    <br>
                    <label class="form-label">{{form.well.label}}</label>
                    {{form.well}}
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md-6">
                    <br>
                    <label class="form-label">{{form.location.label}}</label>
                    {{form.location}}
                  </div>
                  <div class="col col-md-6">
                    <br>
                    <label class="form-label">{{form.date.label}}</label>
                    {{form.date}}
                  </div>
                </div>
                <hr />
                {{ electrical_running_hours_formset.management_form }}
                {% for form in electrical_running_hours_formset %}
                <div class="row">
                  <div class="col col-md-6 col-lg-6">
                    <label class="form-label">
                      Previous Day Cumulative Running {{ form.runninghours.label }}</label
                    >
                    {{ form.runninghours }}
                  </div>
                </div>
               
                <br />
                {% endfor %}
                <hr>
                <h4>SHIFTS</h4>
                {{ electrical_shift_formset.management_form }}
                {% for form in electrical_shift_formset %}
             
                <div class="row">
                  <div class="col col-md-6">
                    {{ form.shifttype.label }}
                   
                     {{ form.shifttype }}
                  </div>
                </div>
                <br />
                
                <div class="row">
                  <div class="col col-12 row-modify4">
                    <label class="form-label select-label"
                      >{{ form.equipdetails.label }}</label
                    >
                    {{ form.equipdetails }}
                  </div>
                </div>
                <br />
                <span>{{ form.equipstatus.label }}</span>
                <div class="row">
                  <div class="col col-md-6">
                    
                      
                      {{ form.equipstatus }}
                 
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col col-6">
                    <label class="form-label"
                      >{{ form.runninghours.label }}</label
                    >
                    {{ form.runninghours }}
                  </div>
                </div>
                <br />
                <div class="row row-modify">
                  <span>Break Down Time</span>
                  <div class="col col-6">
                    <label for="clock">{{ form.breakfrom.label }}</label>
                    {{ form.breakfrom }}
                  </div>
                  <div class="col col-6">
                    <label for="clock">{{ form.breakto.label }}</label>
                    {{ form.breakto }}
                  </div>
                </div>
            
                <div class="row">
                  <div class="col col-md-6">
                    <br>
                    <label class="form-label"
                      >{{ form.totalcummulative.label }}</label
                    >
                    <br>
                    {{ form.totalcummulative }}
                  </div>
                </div>

                <div class="mb-3 mt-3">
                  <label for="comment"
                    >{{ form.remarks.label }}</label
                  >
                  {{ form.remarks }}
                </div>
                <div class="mb-3 mt-3">
                  <label for="comment"
                    >{{ form.equipment.label }}</label
                  >
                  {{ form.equipment }}
                </div>
                <div class="mb-3 mt-3">
                  <label for="comment"
                    >{{ form.job.label }}</label
                  >
                  {{ form.job }}
                </div>
                <div class="row row-modify3">
                  <span>Energy/Meter Reading at 06:00 hrs on:</span>
                  <div class="col">
                    <label for="comment">{{ form.energydg1.label }}</label>
                    {{ form.energydg1 }}
                  </div>
                  <div class="col">
                    <label for="comment">{{ form.energydg2.label }}</label>
                    {{ form.energydg2}}
                  </div>
                  <div class="col">
                    <label for="comment">{{ form.energydg3.label }}</label>
                    {{ form.energydg3 }}
                  </div>
                  <div class="col">
                    <label for="comment">{{ form.energydg4.label }}</label>
                    {{ form.energydg4 }}
                  </div>
                </div>
                <br />
                <div class="mb-3 mt-3">
                  <label for="comment"
                    >{{ form.safetyreport.label }}</label
                  >
                  {{ form.safetyreport }}
                </div>
                {% endfor %}
                <div class="d-grid gap-2 my-4 py-2">
                  <input class="btn btn-primary" type="submit" value="Submit" />
            
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}