{% extends 'base.html' %}
{% block title %}
<title>Equipment Daily Log - ONGC</title>
{% endblock %}

{% block content %}

<section class="p-5 my-5">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div
            class="card shadow-2-strong card-registration bg-light text-dark"
            style="border-radius: 15px"
          >
            <div class="card-body p-4 p-md-5">
              <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Mechanical Daily DPR</h2>

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row pb-3">

                  <div class="col col-md-6 py-2">
                    <label class="form-label">{{ form.name.label }}</label>
                    {{ form.name }}
                  </div>

                  <div class="col col-md-6 py-2">
                    <label class="form-label">{{ form.well.label }}</label>
                    {{ form.well }}
                  </div>

                  <div class="col col-md-6 py-2">
                    <label class="form-label">{{ form.date.label }}</label>
                    {{ form.date }}
                  </div>

                  <div class="col col-md-6 py-2">
                    <label class="form-label">{{ form.shift.label }}</label>
                    {{ form.shift }}
                  </div>

                </div>
                <hr />

                <h4 class="pt-2 text-center">EQUIPMENT LOG SHEET</h4>

                <div class="row py-3">
                  <div class="col-12">
                    <label class="form-label select-label">{{ equip_form.name.label }}</label>
                    {{ equip_form.name }}
                  </div>

                </div>
                <br />
                <div class="row py-3">

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.water_temp.label }}</label>
                    {{ equip_form.water_temp }}
                  </div>

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.oil_temp.label }}</label>
                    {{ equip_form.oil_temp }}
                  </div>

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.oil_pressure.label }}</label
                    >
                    {{ equip_form.oil_pressure }}
                  </div>
                </div>

                <div class="row py-3 ">

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.working_hour.label }}</label>
                    {{ equip_form.working_hour }}
                  </div>

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.equi_avail_hour.label }}</label>
                    {{ equip_form.equi_avail_hour }}
                  </div>

                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_form.oil_used.label }}</label>
                    {{ equip_form.oil_used }}
                  </div>
                </div>
                <hr />


                <h4 class="pt-2 text-center">REPAIRING LOG SHEET</h4>

                <div class="row py-3">
                  <div class="col-12">
                    <label class="form-label select-label">{{ equip_serv_form.name.label }}</label>
                    {{ equip_serv_form.name }}
                  </div>

                </div>
                <br />
                <div class="row py-3">
                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_serv_form.working_hour.label }}</label>
                    {{ equip_serv_form.working_hour }}
                  </div>
                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_serv_form.equi_avail_hour.label }}</label>
                    {{ equip_serv_form.equi_avail_hour }}
                  </div>
                  <div class="col col-md-4">
                    <label class="form-label">{{ equip_serv_form.oil_used.label }}</label>
                    {{ equip_serv_form.oil_used }}
                  </div>
                </div>

                <!-- <div class="row"> -->
                <div class="mb-3 mt-3">
                  <label for="comment">{{ equip_serv_form.intstructions.label }}</label>
                  {{ equip_serv_form.intstructions }}
                </div>
                <hr />
                <div class="row py-3">
                  <p class="pt-2 text-center">Rig Down Time</p>
                  <div class="col col-6">
                    <label for="form-label">{{ equip_serv_form.rig_downtime_from.label }}</label>
                    {{ equip_serv_form.rig_downtime_from }}
                  </div>
                  <div class="col col-6">
                    <label for="form-label">{{ equip_serv_form.rig_downtime_to.label }}</label>
                    {{ equip_serv_form.rig_downtime_to }}
                  </div>
                </div>
                <hr />

                <div class="mb-3 mt-3">
                  <label for="comment">{{ equip_serv_form.requirements.label }}</label>
                  {{ equip_serv_form.requirements }}
                </div>



                <div class="d-grid gap-2 my-4 py-2">
                  <input class="btn btn-primary" type="submit" value="Submit" />
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
