{% extends 'base.html' %}
{% block title %}
<title>View - Equipment Daily Log - ONGC</title>
{% endblock %}

{% block content %}


    <section class="p-5 my-5">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration bg-light text-dark"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">
                  Mechanical Daily DPR
                </h2>

                <table class="table table-striped">
                  <tr>
                    <td>Rig Name</td>
                    <td>{{ rig.rig_name }}</td>
                  </tr>
                  <tr>
                    <td>Well</td>
                    <td>{{ rig.well }}</td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>{{ rig.date }}</td>
                  </tr>
                  <tr>
                    <td>Shift</td>
                    <td>{{ rig.shift }}</td>
                  </tr>
                </table>

                <h4 class="py-3 text-center">EQUIPMENT LOG SHEET</h4>
                {% for equipment in equipments %}
                <table class="table table-striped">
                  <tr>
                    <td>Equipment Name</td>
                    <td>{{ equipment.equip_name }}</td>
                  </tr>
                  <tr>
                    <td>Water Temperature</td>
                    <td>{{ equipment.water_temp }}</td>
                  </tr>
                  <tr>
                    <td>Oil Temperature</td>
                    <td>{{ equipment.oil_temp }}</td>
                  </tr>
                  <tr>
                    <td>Oil Pressure</td>
                    <td>{{ equipment.oil_pressure }}</td>
                  </tr>
                  <tr>
                    <td>Equipment Working Hours</td>
                    <td>{{ equipment.equip_working_hour }}</td>
                  </tr>
                  <tr>
                    <td>Equipment Available Hours</td>
                    <td>{{ equipment.equip_avail_hour }}</td>
                  </tr>
                  <tr>
                    <td>Equipment Oil Used</td>
                    <td>{{ equipment.equip_oil_used }}</td>
                  </tr>
                </table>
                {% endfor %}
               
                <h4 class="py-3 text-center">REPAIRING LOG SHEET</h4>
                {% for service in services %}
                <table class="table table-striped">
                  <tr>
                    <td>Equipment Service Name</td>
                    <td>{{ service.equip_serv_name }}</td>
                  </tr>
                  <tr>
                    <td>Working Hours</td>
                    <td>{{ service.working_hour }}</td>
                  </tr>
                  <tr>
                    <td>Available Hours</td>
                    <td>{{ service.avail_hour }}</td>
                  </tr>
                  <tr>
                    <td>Oil used</td>
                    <td>{{ service.oil_used }}</td>
                  </tr>
                </table>

                <div
                  class="pb-5 pt-2"
                  style="display: flex; flex-direction: column"
                >
                  <label for="">Instructions</label>
                  <textarea name="" id="" cols="60" rows="5">
                    {{ service.intstructions }}</textarea
                  >
                </div>
                {% endfor %}
                
             

                <h4 class="py-3 text-center">Rig Down Time</h4>
                {% for rigdown in rigdowns %}
                <table class="table table-striped">
                  <tr>
                    <td>From Hours</td>
                    <td>{{ rigdown.from_hr }}</td>
                  </tr>
                  <tr>
                    <td>To Hours</td>
                    <td>{{ rigdown.to_hr }}</td>
                  </tr>
                </table>
                {% endfor %}
                

                <div class="py-3" style="display: flex; flex-direction: column">
                  <label for="" class="pb-2">Requirements</label>
                  <textarea name="" id="" cols="60" rows="5">
                    {{ rig.requirements }}</textarea
                  >
                </div>

                <div class="py-3" style="display: flex; flex-direction: column">
                  <label for="" class="pb-2">Mechanical Engineer</label>
                  <textarea name="" id="" cols="60" rows="5">
                    {{ rig.mech_engineer }}</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
{% endblock %}