        <footer class="bottom">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Sitemap</button>
                <button type="button" class="btn btn-primary">Privacy Policy</button>
                <button type="button" class="btn btn-primary">Terms of Use</button>
                <button type="button" class="btn btn-primary">Disclaimer</button>
            </div>

            <p>
            Copyright © Oil and Natural Gas Corporation Limited, All Rights
            Reserved.
            </p>

            <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
            ></script>
        </footer>

    </body>
</html>
