{% load static %}

<!-- Footer -->
<!-- <footer class="bg-light text-dark text-center">
    <ul class="nav nav-tabs" style="background-color: #bc987e">
        <li class="nav-item">
            <a class="nav-link footer_links" href="#">Sitemap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer_links" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer_links" href="#">Terms of Use</a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer_links" href="">Disclaimer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black" href="">Copyright © Oil and Natural Gas Corporation Limited, All Rights Reserved.</a>
        </li>
    </ul>
</footer> -->

<script src="{% static 'js\bootstrap-v5.js' %}"></script>