{% load static %}

<!DOCTYPE html>
<html>
  <style></style>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'Styles\common.css' %}">
  </head>
  <body> 
    <div class="main-container">
      <header class="top">
        <div class="logo-details">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img
              src="{% static 'Assets\Logo.png' %}"
              alt="logo"
              height="80px"
              width="80px"
              style="margin: 8px"
            />
          </a>

          <h6 id="tagline">
            Oil and Natural Gas Corporation Limited
            <p style="font-size: 12px; color: black">A Maharatna Company</p>
          </h6>
        </div>

        <form>
          <input type="text" placeholder="ElasticSearch" id="elastic-search" />
          <label for="search"></label>
        </form>
      </header>

      <section>
        <img
            src="{% static 'Assets\Oil_Rig.png' %}"
            alt="OilRig"
            height="450px"
            width="100%"
        />
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >About Us</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="intro_ongc.html">ONGC</a>
                <a class="dropdown-item" href="aboutinspira.html">INSPIRA</a>
                <a class="dropdown-item" href="aboutsas.html">SAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </nav>

        <div class="middle">
          <div class="left-container">
            <img
                src="{% static 'Assets\SAS Logo.png' %}"
                class="just"
            />
            <button
              type="button"
              class="btn btn-dark just"
            >
                Data Management
            </button>

            <button type="button" class="btn btn-dark just">
              Event Stream Processing
            </button>
            <button type="button" class="btn btn-dark just">
              Visual Data Mining & Machine Learning
            </button>
            <button type="button" class="btn btn-dark just">
              Visual Analytics
            </button>
          </div>

          <div class="center-container">
            <div>
              <img
                src="{% static 'Assets\int_img.png' %}"
                alt="intro_image"
                height="50%"
                width="70%"
              />
            </div>
            <br />
            <b
              >An umbrella platform on top of existing domain specific
              analytical tools and interface with various data sources and
              applications across ONGC to provide a cross domain integrated data
              repository available for different aspects of analytics right from
              ML to descriptive to diagnostic to predictive to prescriptive
              analytics built-in.
            </b>
          </div>

          <div class="right-container">
            <form action=""></form>
            <button type="button" class="btn btn-danger just2 right-child">
              Web Analytics
            </button>

            <button type="button" class="btn btn-danger just2 right-child">
                <a href="{% url 'equipment-log' %}" class="text-decoration-none">Web Forms</a>
            </button>

            <div class="dropdown just2">
              <button
                class="btn btn-danger dropdown-toggle"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Web-Log Viewer
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="{% url 'view-DLIS' %}">DLIS</a></li>
                <li><a class="dropdown-item" href="#">LAS</a></li>
                <li><a class="dropdown-item" href="#">SEGY</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="bottom">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Sitemap</button>
          <button type="button" class="btn btn-primary">Privacy Policy</button>
          <button type="button" class="btn btn-primary">Terms of Use</button>
          <button type="button" class="btn btn-primary">Disclaimer</button>
        </div>

        <p>
          Copyright © Oil and Natural Gas Corporation Limited, All Rights
          Reserved.
        </p>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
