{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Styles\bootstrap-v5.css' %}" rel="stylesheet"/>
    <link href="{% static 'Styles\roboto-fonts.css' %}" rel="stylesheet" />

    {% block title %}{% endblock %}

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'Styles\style.css' %}">
</head>

<body>
  {% include 'includes/navbar.html' %}

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger text-center" role="alert">
      {{message}}
    </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}

  {% include 'includes/footer.html' %}
</body>
</html>