{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ONGC Home</title>
{% endblock %}

{% block content %}

      <section>
        <img
            src="{% static 'Assets\Oil_Rig.png' %}"
            alt="OilRig"
            height="450px"
            width="100%"
        />
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >About Us</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="intro_ongc.html">ONGC</a>
                <a class="dropdown-item" href="aboutinspira.html">INSPIRA</a>
                <a class="dropdown-item" href="aboutsas.html">SAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </nav>

        <div class="middle">
          <div class="left-container">
            <img
                src="{% static 'Assets\SAS Logo.png' %}"
                class="just"
            />
            <button
              type="button"
              class="btn btn-dark just"
            >
                Data Management
            </button>

            <button type="button" class="btn btn-dark just">
              Event Stream Processing
            </button>
            <button type="button" class="btn btn-dark just">
              Visual Data Mining & Machine Learning
            </button>
            <button type="button" class="btn btn-dark just">
              Visual Analytics
            </button>
          </div>

          <div class="center-container">
            <div>
              <img
                src="{% static 'Assets\int_img.png' %}"
                alt="intro_image"
                height="50%"
                width="70%"
              />
            </div>
            <br />
            <b
              >An umbrella platform on top of existing domain specific
              analytical tools and interface with various data sources and
              applications across ONGC to provide a cross domain integrated data
              repository available for different aspects of analytics right from
              ML to descriptive to diagnostic to predictive to prescriptive
              analytics built-in.
            </b>
          </div>

          <div class="right-container">
            <form action=""></form>
            <button type="button" class="btn btn-danger just2 right-child">
              Web Analytics
            </button>

            <button type="button" class="btn btn-danger just2 right-child">
                <a href="{% url 'equipment-log' %}" class="text-decoration-none">Web Forms</a>
            </button>

            <div class="dropdown just2">
              <button
                class="btn btn-danger dropdown-toggle"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Web-Log Viewer
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="{% url 'view-DLIS' %}">DLIS</a></li>
                <li><a class="dropdown-item" href="{% url 'create-LAS' %}">LAS</a></li>
                <li><a class="dropdown-item" href="#">SEGY</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock %}