body {
  width: 100%;
  background-color: white;
  margin: 0%;
  padding: 0%;
}

.logo-images {
  height: 30px;
  width: 30px;
}

#tagline {
  color: darkred;
  margin-left: 2%;
  margin-bottom: 0%;
}

footer {
  margin-top: 20px;
  margin-bottom: 0%;
}

.bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 100px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin: 2% auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
}

.logo-details {
  display: flex;
  align-items: center;
}

#elastic-search {
  height: 42px;
  width: 310px;
}
.navbar-nav {
  font-size: larger;
}
.left-container {
  display: flex;
  flex-direction: column;
}

.just {
  margin: 5%;
}
.just2 {
  margin: 8%;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.center-container {
  padding: 3% 5%;
  text-align: center;
  font-size: 18px;
  /* border: 2px black solid; */
  margin: 10px 20px 10px;
}

.link {
  text-decoration: none;
  color: azure;
}
.link:hover {
  color: azure;
}
